* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: blueviolet;
  color: aliceblue;
}

h1,
h2 {
  margin-bottom: 1rem;
  color: salmon;
  margin-left: 2rem;
}

p {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

ul,
ol {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

li {
  margin-bottom: 0.75rem;
  margin-left: 2rem;
}